*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


body {
	background: #0e0e0e;
	position: relative;
	width: 100%;
	color: white;
	font-variant-numeric: tabular-nums;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

#frame {
	margin-top: 20px;
	position: relative;
}

.menu {
    background:  #0e0e0e;
    text-align: center;
    padding: 20px 0;
}

.menu button {
    margin-right: 5px;
    font-family: "Arial Black";
    color: white;
    background: rgb(22 27 36);
    border: solid 1px rgb(96 117 156);
    border-radius: 4px;
    padding: 5px 30px;
}

.menu button:hover {
    background: rgb(96 117 156);
    cursor: pointer;
}

.menu button:active {
    color: #efefef;
    background: #0e0e0e;
}

.menu button:last-of-type {
    margin-right: 0;
}


.svg-title, .svg-subtitle {
    position: absolute;
    background-color: #0E0E0E;
    padding: 1px 3px;
    font-family: 'Arial Black', sans-serif;
    font-size: 9px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.svg-title .mps, .svg-subtitle .mps {
    color: #54392C;
    background: #FFC7AD;
    font-size: 8px;
    padding: 3px 8px;
    border-radius: 4px;

}

.svg-subtitle {
  font-size: 8px;
  background: transparent;
  color: #0e0e0e;
  font-family: 'Arial Black', sans-serif;
}